#registerCard{
  margin-top: 20vh;
  width: 60%;
  margin-left: 20%;
}

.item-input {
  margin-top: 1em;
}

.link{
  color: blue;
  opacity: 0.5;
  text-decoration: underline;
}
.link:hover{
  cursor: pointer;
}

@media(max-width: 500px){
  #registerCard{
    margin-top: 0vh;
    width: 90%;
    margin-left: 5%;
  }
}

