<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card id="registerCard">
  <form [formGroup]="registerForm"  (ngSubmit)="register(registerForm.value)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="username" name="username" type="text" placeholder="Benutzername"  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  formControlName="firstName" name="firstName" type="text" placeholder="Vorname"  ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="lastName" name="lastName" type="text" placeholder="Nachname"  ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="email" name="email" type="email" placeholder="your@email.com" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password"  name="password" type="password" placeholder="Password"  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="confirm" name="confirm" type="password" placeholder="Password again"  required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="registerForm.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </ion-card>
</ion-content>