#add-icon{
  font-size: 3em;
}

#new-title{
  font-size: 2em;
}

ion-card:hover{
  cursor: pointer;
}


#add-card:hover{
  cursor: pointer;
}

.admin-btns{
  width: 100%;
  text-align: right;
}

.admin-btn{
  font-size: 4em;
  padding-left: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
}


.admin-btn:hover {
  color: black;
}

@media(max-width: 500px){
  #new-title{
    margin-left: 0.8em;
    margin-top: 0.4em;
   font-size: 1.5em;
  }
}