<app-header title="Event Liste"></app-header>

<ion-content>
  <ion-list lines="none">

    <ion-card *ngIf="isAdmin()" id="add-card" (click)="openAddModal()">

      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon id="add-icon" name="add"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-card-title id="new-title">Neues Event erstellen</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>


    <ion-card class="welcome-card" *ngFor="let event of event_list" >
      <img src="/assets/shapes.svg" (click)="openEvent(event.id)" ><!-- TODO animatrix pic-->
      <ion-grid>
        <ion-row>
          <ion-col size="9" (click)="openEvent(event)" >
            <ion-card-header>
              <ion-card-subtitle>{{event.date | date: "dd.MM.yyyy"}}</ion-card-subtitle>
              <ion-card-title>{{event.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{event.description}}</p>
            </ion-card-content>
          </ion-col>
          <ion-col *ngIf="isAdmin()" class="admin-btns">
            <ion-icon class="admin-btn" id="edit" name="create" (click)="edit(event)"></ion-icon>
            <ion-icon class="admin-btn" id="trash" name="trash" (click)="delete(event)"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-grid>


    </ion-card>


  </ion-list>

</ion-content>