<ion-app>

  <ion-split-pane>
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages.concat(loginPage)">
            <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item] = "isActive(p.url)">
              <span><ion-icon [name]="p.icon"></ion-icon>{{p.title}}</span>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>

</ion-app>
