<ion-content>
  <quill-editor [(ngModel)]="editor"  format="html" *ngIf="creatorMode" (onContentChanged)="changed()" (onEditorCreated)="created($event)">
  </quill-editor>
  <div [innerHTML]="content | safeHtml"  id="content" *ngIf="!creatorMode">

  </div>
</ion-content>