<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Neuen Programmpunkt erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ProgrammForm" >
    <ion-item>
      <ion-label>Titel:</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Beschreibung:</ion-label>
      <ion-textarea rows="10" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Start:</ion-label>
      <ion-datetime   display-format="HH:mm" picker-format="HH:mm" formControlName="start"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ende:</ion-label>
      <ion-datetime  display-format="HH:mm" picker-format="HH:mm"  formControlName="end"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Icon:</ion-label>
      <ion-input type="text" formControlName="icon"></ion-input>
    </ion-item>


    <ion-button color="primary" expand="block" (click)="create()" [disabled]="!ProgrammForm.valid">Erstellen</ion-button>

  </form>


</ion-content>
