<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Benutzermenü</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row color="primary" justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h3>Username</h3>
      </div>
      <div>
        <!--image -->
        <ion-button id="settings"><ion-icon name="settings"></ion-icon></ion-button>
      </div>
    </ion-col>

  </ion-row>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div >
          <ion-list class="button-list">
          <ion-button id="tickets">Tickets<ion-icon></ion-icon></ion-button>
          <ion-button id="fav">Favoriten<ion-icon></ion-icon></ion-button>
          <ion-button id="myEvents">Meine Events<ion-icon></ion-icon></ion-button>
          <ion-button id="logout" (click)="logout()">Logout<ion-icon></ion-icon></ion-button>
          </ion-list>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
