<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Neues Event erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="eventForm" >
    <ion-item>
      <ion-label>Titel:</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Untertitel:</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Datum:</ion-label>
      <ion-datetime  [min]="today()" [max]="getMaxTime()" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Bild:</ion-label>
      <ion-input type="text" formControlName="image"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block" (click)="create()" [disabled]="!eventForm.valid" >Erstellen</ion-button>

  </form>


</ion-content>
