<ion-content>

  <section id="cd-timeline" class="cd-container">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="!creatorMode">

      <div class="cd-timeline-block" *ngFor="let item of items">
        <div class="cd-timeline-picture dark">
          <ion-icon name="{{item.icon}}"></ion-icon>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content dark">
          <ion-grid>
            <ion-row>
              <ion-col size="9.5">
                <ion-reorder >
                <h5 class="marginBottom0 marginTop0">{{item.name}}</h5>
                <p class="marginTop5 cd-author"><span>ab {{item.start | date: "HH:mm"}}</span><span *ngIf="item.end"> bis {{item.end | date: "HH:mm"}}</span></p>
                <p class="timelineText">{{item.description}}</p>
                </ion-reorder>
              </ion-col>
              <ion-col *ngIf="creatorMode">
                <ion-button>
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button (click)="delete(item)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>
      </div>

    </ion-reorder-group>

    <div class="cd-timeline-block" *ngIf="creatorMode" (click)="create()">
      <div class="cd-timeline-picture dark">
        <ion-icon name="add"></ion-icon>
      </div>
      <!-- cd-timeline-img -->
      <div class="cd-timeline-content dark" id="add-new" >
        <h5 class="marginBottom0 marginTop0">Neuer Punkt</h5>
        <p class="timelineText">Erstellen einen neuen ProgrammPunkt</p>
      </div>
    </div>


  </section>

</ion-content>
