<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TestName</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create" *ngIf="creatorMode"></ion-icon>
      </ion-button>
      <ion-button (click)="save()">
        <ion-icon name="save" *ngIf="creatorMode"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info">
      <ion-icon name="home"></ion-icon>
      <ion-label>Allgemein</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="program">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Ablauf</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="map"></ion-icon>
      <ion-label>Karte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
